/**CSS GERAL*/
@font-face {
    font-family: 'Eina 02';
    src: url(Eina/Eina02-Regular.ttf);
}

body{
    font-family: 'Eina 02',sans-serif;
    overflow-x: hidden;
}
/*CSS NAVBAR*/
.navbarColor{
    background-color: #262626;
}

.navbarTextColor{
    color: white !important;
}
.btnNavbar{
    background-color: #444;
    width: 7vw;
    margin-left: 75%;
    color: white;
}
.btnNavbar:hover{
    background-color: #6f6f6f;
}
/*CSS login popUp*/
.loginPopUpContainer{
    background-color: #262626;
    height: 45vh;
    width: 20vw;
    margin-top: 10%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    transform: scale(1.1);
}

.mostrar{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}
.loginPopUpContainer .card-header{
    font-size: 2.2em ;
}
.card-body .btn{
    background-color: #444;
    width: 15vw;
    position: relative;
    top: 25%;
    color: white;
    cursor: pointer;
}
.card-body .btn:hover{
    background-color: #6f6f6f;
}

.loginPopUpContainer .card-header i{
    font-size: 0.5em;
    position: absolute;
    left: 92%;
    top: 1.5%;
    cursor: pointer;
}

.loginPopUpContainer .card-header i:hover{
    color: #444;
}
.loginPopUpBody input{
    margin-bottom: 15%;
}
/* Começo CSS apresentação */
#apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444 ;
    width: 100%;
    height: 55.5vh;
    justify-content: center;
    color: white;
}

#tituloApresentacao{
    font-weight: bold;
    font-size: 3.5em;
    text-align: center;
}

#textoIntroucao{
    text-align: justify;
}

#subTituloApresentacao{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 3.5vh;
}
/* Final CSS apresentação */

/* Começo CSS introdução (QUEM SOMOS / VALORES E MISSÃO) */
#introducaoContainer{

    margin-top: 5.5vh;
    border-radius: 10px;
    height: 85vh;
}

#quemSomosText{
    margin-top: 5.5vh;
}

#formatacaoBodyTitle{
    font-size: 2.5em !important;
    text-align: center !important;
    font-weight: bolder !important;
}

#formatacaoBodyText{
    font-size: 1.1em!important;
    text-align: justify!important;
}

#quemSomosImage{
    padding-left: 10%;
}
/* Final CSS introdução (QUEM SOMOS / VALORES E MISSÃO) */

/* Começo CSS parte de sistemas*/
#titulo_oferecemos{
    font-weight: bold;
    font-size: 1.4em;
}

.cardIntroducao{
    background-color: #363f48;
    margin-top: 0.5vh;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    border: 1px solid red;
}

.cardFuncionalidade{
    background-color:#2e3740 !important;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}


#sistema{
    margin-top: 10.5vh;
    background-color: #444 !important ;
    height: 75.5vh;
    padding-top: 2.5vh;
}

.card-title{
    font-size: 1.5em !important;
    text-align: center !important;
    font-weight: bolder !important;
    color: white;
}

.card-text{
    font-size: 1.1em!important;
    text-align: justify!important;
    color: white;
}
.cardFuncionalidade:hover{
  z-index: 2;
  transition: all 200ms ease-in;
  transform: scale(1.3);
}
/* Final CSS parte de sistemas*/
/*Começo CSS contato*/
#place{
    font-weight: bolder;
  }

  .topMensagemForumlario{
    background-color: #444 !important;
    text-align: center;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    height: 5.5vh !important;
}

  #form{
    border: 4.5vw solid white;
    border-radius: 5vh;
    background-color: white;
    margin-top: 5%;
    margin-right: 10%;
 }

 #maps{
    margin-left: 20%;
 }
#contato{
    background-color: #363f48;
}

 #fone{
    background-color: #2e3740;
    height: 55vh;
 }
 #contateNosTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em !important;
    text-align: center !important;
    font-weight: bolder !important;
    color: white;
 }
 #informacoesFone{
    height: 35.5vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-size: 1.1em !important;
    color: white;
 }
 #foneText{
    display: flex;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10%;
  }
.informacoesFoneCampos{
    padding-bottom: 5.5vh;
}
.cardContato{
    height: 50.5vh !important;
    background-color: #444!important;
}

.list-group{
    height: 27vh;
}
.btnSubmiteContato{
    width: 26.2vw;
    height: 5.5vh;
    margin-top: 2.5vh;
    background-color:#444;
    align-items: center;
    font-size: 1.5em;
    color: white;
}

.btnSubmiteContato:hover{
  transition: all 200ms ease-in;
  transform: scale(1.2);
}

.bodyFormulario{
    background-color: #444 !important ;  
    color: white;  
}

.btnSubmite{
    align-items: center;
    margin-left: -0.5em;
}
#form{
    height: 100%;
    width: 35vw;
}

.social-icons{
	background-color:#444;
    text-align: center;
    width: 100%;
}
.social-icons a{
	color:#fff;
  line-height:30px;
  font-size:30px;
  margin: 0 5px;
  text-decoration:none;
  
}
.social-icons a i{
	line-height:25px;
  font-size:30px;
  transition: all 200ms ease-in;
  transform: scale(1);
}
.social-icons a:hover i{
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

/*Final CSS contato*/
/* começo Media query */

/* Celular */
@media screen and (max-width: 600px){
    #quemSomosText{
        display: flex;
        flex-direction: column;
        
    }

    #quemSomosImage{
       display: none;
    }

    #valoresEMissaoImage{
        display: none;
    }

   #formatacaoBodyText{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
   }

   #textoApresentacao{
    font-size: 25px;
    margin-left: 10px;
   }

   #sistema{
    height: 80.4vh;
   }

   #contato{
    height: 125vh;
    width: 100%;
    background-color: #262626;
   }

   #fone{
    margin-top: 10%;
    margin-left: 5%;
   }
   
   #form{
    border: 1vw solid white;
    background-color: white;
   }

   .cardContato{
    width: 70vw;
    align-self: center;
   }

   .btnSubmiteContato{
    width: 70vw;
    background-color: #10abb4;
   }
}

/* Tablet */
@media screen and (min-width:601px) and (max-width: 767px){
#textoApresentacao{
    font-size: 1.2em;
}

#introducaoContainer{
    height: 92vh;
}

#quemSomosImage{
    display: none;
 }

 #valoresEMissaoImage{
     display: none;
 }

 #quemSomosText{
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    margin-bottom: 15.5vh;
    height: 20vh;
 }

 #valoresEMissaoText{
    padding-left: 3.5vw;
    padding-right: 3.5vw;
 }
 
 #sistema{
    height: 80vh;
 }
 #form{
    border: 1vw solid white;
    background-color: white; 
    width: 60vw;
   }
.btnSubmiteContato{
    width: 58vw;
    background-color: #10abb4;
   }

}

/* Notebook */
@media screen and (min-width: 1200px) and (max-width:1600px) {
    *{
        font-size: 1em;
    }
    #introducaoContainer{
        margin-top: 10vh;
        margin-bottom: 30vh;
    }
    img{
        width: 78vh;
        margin-top: 1vh;
        height: 48vh;
    }
    .cardFuncionalidade:hover{
        z-index: 20;
        transition: all 200ms ease-in;
        transform: scale(1.1);
    }
    .cardFuncionalidade{
        height: 15em;
    }
    .btnSubmiteContato{
        margin-top: 12vh;
    }
    #form{
        
        height: 80vh;
    }
    #contato{
        margin-bottom: 1vh;
    }
    .social-icons{
        margin-bottom: 1vh;
    }
    #fone{
        height: 60vh;
        margin-top: 2vh;
    }
    #formatacaoBodyTitle{
        margin-bottom: 1vh;
    }
}

/*PC*/
@media screen and (min-width:1920px) {
    
}
/* final Media query */



