/*
Azul escuro: #252B48
Cinza escuro: #445069
Azul marinho: #5B9A8B
Amarelo: #F7E987
*;

/**CSS GERAL*/
@font-face {
    font-family: 'Eina 02';
    src: url(Eina/Eina02-Regular.ttf);
}

body{
    font-family: 'Eina 02',sans-serif;
    overflow-x: hidden;
}
/*CSS NAVBAR*/
.navbarColor{
    background-color: #445069;
}

.navbarTextColor{
    color: white !important;
}
.btnNavbar{
    background-color: #252B48;
    width: 7vw;
    margin-left: 75%;
    color: white;
}
.btnNavbar:hover{
    background-color: #353d50;
}
/*CSS login popUp*/
.loginPopUpContainer{
    background-color: #252B48;
    height: 45vh;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

dialog::backdrop{
    background-color: rgb(0 0 0 / .5);
}

dialog{
    border: none !important;
    border-radius: 0.5rem;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    background-color: #252B48;
}
.mostrar{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}
.loginPopUpContainer .card-header{
    font-size: 2.2em ;
}
.card-body .btn{
    background-color: #445069;
    width: 15vw;
    position: relative;
    top: 25%;
    color: white;
    cursor: pointer;
}
.card-body .btn:hover{
    background-color: #384257;
}

.loginPopUpContainer .card-header i{
    font-size: 0.5em;
    position: absolute;
    left: 92%;
    top: 1.5%;
    cursor: pointer;
}

.loginPopUpContainer .card-header i:hover{
    color: #444;
}
.loginPopUpBody input{
    margin-bottom: 15%;
}
/* Começo CSS apresentação */
img{
    border-radius: 10px;
}
#apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7E987 ;
    width: 100%;
    height: 55.5vh;
    justify-content: center;
}

#tituloApresentacao{
    font-weight: bold;
    font-size: 3.5em;
    text-align: center;
}

#textoIntroucao{
    text-align: justify;
}

#subTituloApresentacao{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 3.5vh;
}
/* Final CSS apresentação */

/* Começo CSS introdução (QUEM SOMOS / VALORES E MISSÃO) */
#quemSomosContainer{
    display: flex;
    flex-direction: row;
}
#valoresEMissaoContainer{
    display: flex;
    flex-direction: row-reverse;
}
#introducaoContainer{
    margin-top: 5.5vh;
    border-radius: 10px;
    height: 85vh;
}

#quemSomosText{
    margin-top: 5.5vh;
}

#formatacaoBodyTitle{
    font-size: 2.5em !important;
    text-align: center !important;
    font-weight: bolder !important;
}

#formatacaoBodyText{
    font-size: 1.1em!important;
    text-align: justify!important;
}
#valoresEMissaoImage{
    margin-right: 0.5vw;
}
#quemSomosImage{
    margin-left: 0.5vw;
}
/* Final CSS introdução (QUEM SOMOS / VALORES E MISSÃO) */

/* Começo CSS parte de sistemas*/
.containerIntroducaoCards{
    display: flex;
    justify-content: center;

}
.cardIntroducao{
    background-color: #445069;
    margin-top: 0.5vh;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    width: 65vw;
}

.cardFuncionalidade{
    background-color:#445069 !important;
    width: 15vw;
    text-align: justify;
}   
#sistema{
    margin-top: 10.5vh;
    background-color: #5B9A8B !important ;
    height: 50vh;
    padding-top: 2.5vh;
}

.containerCards{
    display: flex;
    height: 30vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.card-title{
    font-size: 1.5em !important;
    text-align: center !important;
    font-weight: bolder !important;
    color: white;
}

.card-text{
    font-size: 1.1em!important;
    text-align: justify!important;
    color: white;
}
.cardFuncionalidade:hover{
  z-index: 2;
  transition: all 200ms ease-in;
  transform: scale(1.1);
}
.cardFuncionalidade{
    margin-left: 1.5vw;
    margin-bottom: 1.5vh;
}
/* Final CSS parte de sistemas*/
/*Começo CSS contato*/
#contato{
    background-color: #F7E987;
}
#contateNosTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em !important;
    text-align: center !important;
    font-weight: bolder !important;

 }
 #informacoesFone{
    height: 35.5vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-size: 1.1em !important;
 }
 #foneText{
    display: flex;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10%;
  }
.informacoesFoneCampos{
    padding-bottom: 5.5vh;
}
.cardContato{
    height: 17.0vh !important;
    width: 19vw;
    font-size: 1.1em;
    background-color: #5B9A8B!important;
    color: white;
    text-align: center;
}
#contato .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contateNosForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5B9A8B;
    height: 45vh;
    margin-top: -5%;
    border-radius: 10px;
}
.contateNosForm input{
    margin: 1.2vh;
}

.contateNosForm textarea{
    margin: 1.2vh;
}

.btnSubmiteContato{
    width: 100%;
    height: 5.5vh;
    margin: 1.2vh;
    background-color:#445069;
    align-items: center;
    font-size: 1.5em;
    color: white;
}
.btnSubmiteContato:hover{
    background-color: white;
}
.bodyFormulario{
    background-color: #444 !important ;  
    color: white;  
}
.social-icons{
	background-color:#252B48;
    text-align: center;
    width: 100%;
}
.social-icons a{
	color:#fff;
  line-height:30px;
  font-size:30px;
  margin: 0 5px;
  text-decoration:none;
  
}
.social-icons a i{
	line-height:25px;
  font-size:30px;
  transition: all 200ms ease-in;
  transform: scale(1);
}
.social-icons a:hover i{
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  transition: all 200ms ease-in;
  transform: scale(1.5);
}



/*Final CSS contato*/
/* começo Media query */

/* Celular */
@media screen and (max-width: 600px){
    /*Navbar*/
    .btnNavbar{
        width: 25vw;
    }
    .loginPopUpContainer{
        width: 100%;
    }
    .navbarColor .navbar-toggler .navbar-toggler-icon{
        color: white;
    }
    /*Sessão Quem Somos*/
    #quemSomosText{
        display: flex;
        flex-direction: column;
    }
    #quemSomosImage{
       display: none;
    }
    #valoresEMissaoImage{
        display: none;
    }
   #formatacaoBodyText{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
   }

   #textoApresentacao{
    font-size: 25px;
    margin-left: 10px;
   }
/*Sessão sistema*/
    #sistema{
    height: 195vh;
   }
   .containerCards{
    flex-direction: column;
    margin-top: 65vh;
   } 
   .cardFuncionalidade{
    width: 50vw;
    margin-bottom: 5.5vh;
    }
/*Sessão contato*/
   #contato{
    height: 125vh;
    width: 100%;
    background-color: #262626;
   }
   .cardContato{
    width: 70vw;
    align-self: center;
    margin-bottom: 0.5vh;
    height:20vh !important;
    }
   #contato .row{
    display: flex;
    align-items: center;
    justify-content: center;
}
}

/* Tablet */
@media screen and (max-width: 768px){
   /*Navbar*/
   .btnNavbar{
    width: 25vw;
}
.loginPopUpContainer{
    width: 100%;
}
.navbarColor .navbar-toggler .navbar-toggler-icon{
    color: white;
}
/*Sessão Quem Somos*/
#quemSomosText{
    display: flex;
    flex-direction: column;
}
#quemSomosImage{
   display: none;
}
#valoresEMissaoImage{
    display: none;
}
#formatacaoBodyText{
font-size: 20px;
margin-left: 10px;
margin-right: 10px;
}

#textoApresentacao{
font-size: 25px;
margin-left: 10px;
}
/*Sessão sistema*/
#sistema{
height: 155vh;
}
.containerCards{
flex-direction: column;
margin-top: 45vh;
} 
.cardFuncionalidade{
width: 50vw;
margin-bottom: 5.5vh;
}

/*Sessão contato*/
#contato{
height: 125vh;
width: 100%;
background-color: #262626;
}
.cardContato{
width: 65vw;
align-self: center;
margin-bottom: 0.5vh;
height:20vh !important;
}
#contato .row{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
}

/* Tablet grande */
@media screen and (min-width: 769px) and (max-width:992px) {
/*Navbar*/
    .btnNavbar{
    width: 25vw;
    margin-left: 55%;
    color: white;
}
.loginPopUpContainer{
    width: 100%;
}
.navbarColor .navbar-toggler .navbar-toggler-icon{
    color: white;
}
/*Sessão Quem Somos*/
#introducaoContainer{
    height: 155vh;
}
#quemSomosContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#valoresEMissaoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#valoresEMissaoImage{
     display: flex;
     align-items: center;
}
#quemSomosText{
    display: flex;
    flex-direction: column;
}
#formatacaoBodyText{
font-size: 20px;
margin-left: 10px;
margin-right: 10px;
}

#textoApresentacao{
font-size: 25px;
margin-left: 10px;
}
/*Sessão sistema*/
#sistema{
height: 135vh;
}
.containerCards{
flex-direction: column;
margin-top: 45vh;
} 
.cardFuncionalidade{
width: 50vw;
margin-bottom: 5.5vh;
}

/*Sessão contato*/
#contato{
height: 125vh;
width: 100%;
background-color: #262626;
}
.cardContato{
width: 65vw;
align-self: center;
margin-bottom: 0.5vh;
height:22vh !important;
}
#contato .row{
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;

}
.formularioContatenosContainer .contateNosForm input{
    width: 59vw;
}
.formularioContatenosContainer .contateNosForm textarea{
    width: 59vw;
}
.btnSubmiteContato{
    width: 59vw;
}
}

/*Notebook*/
@media screen and (min-width:993px) and (max-width:1200px) {
/*Navbar*/
.btnNavbar{
width: 25vw;
margin-left: 55%;
color: white;
}
.loginPopUpContainer{
    width: 100%;
}
.navbarColor .navbar-toggler .navbar-toggler-icon{
    color: white;
}
/*Sessão Quem Somos*/
#introducaoContainer{
    height: 155vh;
}
#quemSomosContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#valoresEMissaoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#valoresEMissaoImage{
     display: flex;
     align-items: center;
}
#quemSomosText{
    display: flex;
    flex-direction: column;
}
#formatacaoBodyText{
font-size: 20px;
margin-left: 10px;
margin-right: 10px;
}

#textoApresentacao{
font-size: 25px;
margin-left: 10px;
}
/*Sessão sistema*/
#sistema{
height: 135vh;
}
.containerCards{
    flex-direction: column;
    margin-top: 35vh;
    
} 
.cardFuncionalidade{
width: 50vw;
margin-bottom: 5.5vh;
}

/*Sessão contato*/
#contato{
height: 95vh;
width: 100%;
background-color: #445069;
}
.cardContato{
width: 35vw;
align-self: center;
margin-bottom: 0.5vh;
height:20vh !important;
}

.formularioContatenosContainer .contateNosForm input{
    width: 59vw;
}
.formularioContatenosContainer .contateNosForm textarea{
    width: 59vw;
}
.btnSubmiteContato{
    width: 59vw;
}
}

/*PC*/
@media screen and (min-width:1201px) and (max-width:1600px){
#quemSomosContainer{
    margin-bottom: 2.5vh;
}

#quemSomosText{
    margin-right:2.5vw ;
}
#valoresEMissaoText{
    margin-left: 2.4vw;
}
#sistema{
    height: 75vh;
}

.cardFuncionalidade{
    width: 35vw;
}

.containerCards{
    flex-wrap: wrap;
    margin-top: 10vh;
}
.cardContato{
    width: 25vw;
    height: 22vh !important;
}
.btnNavbar{
width: 25vw;
margin-left: 55%;
color: white;
}
#introducaoContainer{
    height: 100vh;
}
.contateNosForm{
    margin-top: 2.5vh;
}
}
/* final Media query */