
body{
    background-color: gray;
}

/* container */ 
.css-botoes{
    padding: 20px;
    width: 200px;
    height: 95px;
    overflow: auto;
}

/* divs dados (os 3 quadrados)*/
.dados{
    border: 1px solid black;
    background-color: gray;
    font-weight: bold;
    height: 250px;
    width: 250px;
    font-size: 35px;
    text-align: center;
    color: white;
}

.botoes{
    padding-left: 90px;
}

/* Primeira linha = Parte de cima */
#row1{
    padding-bottom: 20px;
    background-color: black;
}

/* Ajustar a posição dos dados */
.dado123{ 
    padding-top: 50px;
}

#row2{
    background-color: gray;
}
